[Unit]
Description=Back-end do bot do Discord
After=network-online.target

[Container]
# latest é presumido
Image=localhost/discord-chuville-backend
AutoUpdate=registry
PublishPort=8820:8820
Network=rede-containers
Volume=/home/renan/chuville-discord-new:/data:Z
EnvironmentFile=%h/.config/containers/systemd/backend.env