[Unit]
Description=Front-end do bot do Discord
After=network-online.target

[Container]
# latest é presumido
Image=localhost/discord-chuville-frontend
AutoUpdate=registry
Network=rede-containers
Volume=/home/renan/chuville-discord-new:/data:Z
EnvironmentFile=%h/.config/containers/systemd/frontend.env